<a href="https://colab.research.google.com/github/tilakbhusan/Umbrella/blob/main/Function_Asignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [8]:

def sum_even_numbers(numbers):
    # Filter out even numbers
    even_numbers = filter(lambda x: x % 2 == 0, numbers)

    # Sum the filtered even numbers
    return sum(even_numbers)

# Example list
numbers = [47, 11, 42, 13, 20, 33]

# Call the function
result = sum_even_numbers(numbers)

print(result)  # Output: 62

62

2. Create a Python function that accepts a string and returns the reverse of that string.

In [7]:
def reverse_string(s):
    # Reverse the string using slicing
    return s[::-1]
# Example usage
string = "hello"
reversed_string = reverse_string(string)
print(reversed_string)  # Output: "olleh"

olleh

3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

In [6]:
def square_numbers(numbers):
    # Create a new list with the squares of each number
    return [x ** 2 for x in numbers]

# Example usage
numbers = [1, 2, 3, 4, 5]
squared_numbers = square_numbers(numbers)

print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [5]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def primes_up_to_200():
    return [num for num in range(1, 201) if is_prime(num)]

# Example usage
print(is_prime(17))  # Output: True
print(primes_up_to_200())  # Output: List of primes from 1 to 200

True
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms

In [4]:
class FibonacciIterator:
    def __init__(self, terms):
        self.terms = terms
        self.current = 0
        self.next_value = 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count < self.terms:
            fib_number = self.current
            self.current, self.next_value = self.next_value, self.current + self.next_value
            self.count += 1
            return fib_number
        else:
            raise StopIteration

# Example usage:
fibonacci = FibonacciIterator(10)
for number in fibonacci:
    print(number)

0
1
1
2
3
5
8
13
21
34

6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [10]:
def powers_of_two(n):
    for exponent in range(n + 1):
        yield 2 ** exponent

# Example usage:
for power in powers_of_two(6):
    print(power)

1
2
4
8
16
32
64

7. Implement a generator function that reads a file line by line and yields each line as a string.

In [13]:


L = ["Moon\n", "Star\n", "Galaxy\n"]

# writing to file
file1 = open('myfile.txt', 'w')
file1.writelines(L)
file1.close()

# Using readlines()
file1 = open('myfile.txt', 'r')
Lines = file1.readlines()

count = 0
# Strips the newline character
for line in Lines:
    count += 1
    print("Line{}: {}".format(count, line.strip()))

Line1: Moon
Line2: Star
Line3: Galaxy

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [16]:
# Sample list of tuples
data = [(1, 3), (4, 1), (5, 2), (2, 4)]

# Sort based on the second element of each tuple
sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)

[(4, 1), (5, 2), (1, 3), (2, 4)]

9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [18]:
# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# List of temperatures in Celsius
celsius_temperatures = [0, 15, 28, 104]

# Use map() to apply the conversion to each temperature in the list
fahrenheit_temperatures = list(map(celsius_to_fahrenheit, celsius_temperatures))

# Output the converted temperatures
print(fahrenheit_temperatures)

[32.0, 59.0, 82.4, 219.2]

10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [19]:
# Function to check if a character is not a vowel
def is_not_vowel(char):
    vowels = 'aeiouAEIOU'
    return char not in vowels

# Input string
input_string = "Hello World"

# Use filter() to remove vowels from the string
filtered_string = ''.join(filter(is_not_vowel, input_string))

print(filtered_string)

Hll Wrld

11. Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:?????

In [25]:
# Data: List of sublists (order number, book title and author, quantity, price per item)
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "EinfÃ¼hrung in Python3, Bernd Klein", 3, 24.99]
]

# Useing lambda and map to calculate the desired 2-tuple (order number, total price with condition)
result = list(map(lambda order: (order[0], order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0)), orders))

# Output the result
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]